<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/academicons.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  

  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
</head>

<body>
  <table style="width:100%;max-width:1000px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Lovish Chum 
                <div style="line-height:0px;">
                    <br>
                </div>
                <a href="https://mailhide.io/e/pwlslZiG" onclick="popup=window.open('https://mailhide.io/e/pwlslZiG','mailhidepopup','width=580,height=635'); return false;"><tt>l......@columbia.edu</tt></a>
              </h1>
              <p> I am a <em>Senior AI Engineer</em>  at <a href="https://www.walgreensbootsalliance.com/">Walgreens AI Labs</a>  
                where I am the part of <em>Search and Recommendation</em> team. 
                Previously, I was an <em>Machine Learning Engineer II</em>  at <a href="https://aws.amazon.com/">Amazon Web Services (AWS) - AI</a>  
                where I was the part of <a href="https://aws.amazon.com/rekognition/">Rekognition</a> team. 
                I aim to create <em>buisness impact</em> through my scientific and engineering skills in computer vision and language models (especially LLMs).
              </p>

  
              <p> Earlier I was a Research Asosicate at Dept. of Electrical Engineering, Columbia University with <a href="https://www.ee.columbia.edu/~sfchang/">Prof. Shih-Fu Chang</a>. 
                I received MS(by research/thesis track) in <a href="https://www.cs.columbia.edu/">Computer Science</a> from  
                <a href="https://www.engineering.columbia.edu/about">Fu Foundation School of Engineering</a> at <a href="https://www.columbia.edu/">Columbia University</a>, 
                where I worked on future scene graph prediction with <a href="http://www.cs.columbia.edu/~vondrick/">Carl Vondrick</a>. 
              </p>
              <p>
                From 2017 to 2019, I worked at <a href="https://cvit.iiit.ac.in/">CVIT</a> where I worked with <a href="https://faculty.iiit.ac.in/~jawahar/">CV Jawahar</a> and <a href="https://www.iith.ac.in/~vineethnb/">Vineeth N Balasubhramanian</a>.
                Even earlier, I was an undergrad at <a href="https://www.iitk.ac.in/">IIT Kanpur</a>.
              </p>
              <p>
                I am always looking for opportunities. Welcome to contact via e-mail if you think it can be a good fit. 
              </p>
              </p>
              <p style="text-align:center">

<!--                 <a target="_blank" href="https://mailhide.io/e/pwlslZiG"> Email</a> &nbsp;/&nbsp;
 --><!--                 <a href="https://github.com/williamd4112" target="_blank">X<i class="fab fa-github ai-2x"></i></a>&nbsp; -->

                <a href="https://github.com/lovish1234">GitHub</a> &nbsp;/&nbsp;

                <a href="https://www.linkedin.com/in/lovish1234"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile.png">
              <center></center>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
            </td>
          </tr>
        </table>

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td>
              <ul>
                <li>Jan 2024: <a href="">Paper</a> on cross-modal event relations accepted at <a href="https://aaai.org/aaai-conference/">AAAI 2024</a> </li>
                <li>Nov 2023: Joined Walgreens AI Lab. Excited to build the visual search engine for Walgreens website from scratch!</li>
                <li>Mar 2023: <a href="https://assets.amazon.science/4a/3c/b5bcb0dc4626a016a79238d693b3/multi-scale-compositional-constraints-for-representation-learning-on-videos.pdf">Paper</a>  on video representation learning accepted at <a href="https://2023.ieeeicassp.org/">ICASSP 2023</a>  </li>
                <li>Jun 2022: <a href="https://arxiv.org/pdf/2206.07207.pdf">Paper</a> on multi-modal event graphs available on arXiV </li>
                <li>Jan 2022: Joined Amazon Web Services (AWS) - AI as an ML Engineer in the Rekognition team</li>
                <li>Mar 2021: <a href="https://arxiv.org/abs/2109.12776">Paper</a> accepted at EMNLP Findings 2021</li>
                <li>Mar 2021: Joined <a href="https://www.ee.columbia.edu/ln/dvmm/">DVMM</a>, Columbia University as Staff Associate I. Working with Prof. Shih-Fu Chang</li>
                <li>Oct 2020: Talk on <a href="/pdfs/talks/SGG.pdf">Scene Graph Generation</a> at CV Lab, Columbia</li>
                <li>Sep 2019: Joining Columbia University as a Masters of Computer Science student in Fall 2019 </li>
                <li>Jul 2019: Talk on <a href="/pdfs/talks/LA_mlss.pdf">Linear Algebra for Machine Learning</a> at IIIT-H ML Summer School </li>
                <li>May 2019: <a href="/pdfs/papers/JIISc.pdf">Survey paper</a> accepted in Journal of Indian Institute of Science </li>
                <li>Sep 2018: Attending <a href="http://mlss.cc/" > Machine Learning Summer School 2018</a> in Madrid </li>
              </ul>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Recent Projects/Publications</h2>
              <p>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:32%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:82%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              [<strong><a href="{{post.paper}}">Publication</a></strong>]
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.report %}
              [<a href="{{post.report}}"><strong>Report</strong></a>]
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              [<a href="{{post.code}}"><strong>Code</strong></a>]
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Earlier Projects</h2>
              <p>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'earlier' %}
          <tr>
            <td style="padding:2.5%;width:32%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:82%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
<!--               <em>{{post.categories}} {{post.course}}</em>
              <br> -->
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              [<strong><a href="{{post.paper}}">Publication</a></strong>]              
              {% endif %}
              {% if post.report %}
              [<strong><a href="{{post.paper}}">Report</a></strong>]              
              {% endif %}
<!--               {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %} -->
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              [<strong><a href="{{post.slides}}">Slides</a></strong>]
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <p> I have a keen interest in <strong>community learning</strong>. While at IIIT-H, I actively took initiatives to share what I learn.  I totally believe in the following adage :
                <br>
                <br>
                <center><q>
                <p style="font-style: italic;">
                If you want to learn something, <br>
                      read about it. <br>
                If you want to understand something, <br>
                      write about it. <br>
                If you want to master something, <br>
                      teach it </q> <br>
                </p>
                </center>         
         </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'teaching' %}
          <tr>
            <td style="padding:2.5%;width:32%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:82%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
<!--               {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %} -->
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              [<strong><a href="{{post.slides}}">Slides</a></strong>]
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <div class="section">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:xx-small;">
                Thanks <a style="font-size:xx-small;" href="https://jonbarron.info">Jon Barron</a> for source
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

