<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/academicons.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30336262-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-30336262-1');
  </script>

</head>



<body>
  <table style="width:100%;max-width:1000px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Lovish Chum 
                <div style="line-height:0px;">
                    <br>
                </div>
                <a href="https://mailhide.io/e/pwlslZiG" onclick="popup=window.open('https://mailhide.io/e/pwlslZiG','mailhidepopup','width=580,height=635'); return false;"><tt>l......@columbia.edu</tt></a>
              </h1>

              <p>I am an MS student in <a href="https://www.cs.columbia.edu/">Computer Science</a>, part of the <a href="https://www.engineering.columbia.edu/about">Fu Foundation School of Engineering</a> at <a href="https://www.columbia.edu/">Columbia University</a>, where I work on self-supervised learning of video representations. I am advised by <a href="http://www.cs.columbia.edu/~vondrick/">Carl Vondrick</a>.
              </p>
              <p>
                From 2017 to 2019, I worked at <a href="https://www.iiit.ac.in/">IIIT Hyderabad</a>, as part of <a href="https://cvit.iiit.ac.in/">CVIT</a> where I worked with <a href="https://faculty.iiit.ac.in/~jawahar/">CV Jawahar</a> and <a href="https://www.iith.ac.in/~vineethnb/">Vineeth N Balasubhramanian</a>.
              </p>
              <p>
                Previously, I was an undergrad at <a href="https://www.iitk.ac.in/">IIT Kanpur</a> working with <a href="http://www.faculty.iitmandi.ac.in/~aditya/">Aditya Nigam</a> and <a href="https://www.cse.iitk.ac.in/users/pg/">Phalguni Gupta</a>. 

<!--                 I have an MS in Computer Science (AI focus) from <a href="http://cs.stanford.edu">Stanford University</a>, where I was a research assistant for <a href="http://svl.stanford.edu/">Silvio Savarese</a> and a teaching assistant for <a href="http://svl.stanford.edu/">Fei-Fei Li</a> (<a href="http://vision.stanford.edu/teaching/cs131_fall1617/">CS131</a> & <a href="http://cs231n.stanford.edu/2017/">CS231N</a>). I have a BS in EECS from <a href="http://www.eecs.berkeley.edu/">UC Berkeley</a>, where I worked in <a href="https://people.eecs.berkeley.edu/~pister/">Kris Pister's</a> lab. -->
              </p>
              <p style="text-align:center">

<!--                 <a target="_blank" href="https://mailhide.io/e/pwlslZiG"> Email</a> &nbsp;/&nbsp;
 --><!--                 <a href="https://github.com/williamd4112" target="_blank">X<i class="fab fa-github ai-2x"></i></a>&nbsp; -->

                <a href="https://github.com/lovish1234">GitHub</a> &nbsp;/&nbsp;
<!--                 <a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp; -->

                <a href="https://www.linkedin.com/in/lovish1234"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile.png">
              <center></center>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
            </td>
          </tr>
        </table>

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td>
              <ul>
                <li>Oct 2020: Talk on <a href="/pdfs/talks/SGG.pdf">Scene Graph Generation</a> at CV Lab, Columbia</li>
                <li>Sep 2019: Joining Columbia University as a Masters of Computer Science student in Fall 2019 </li>
                <li>Jul 2019: Talk on <a href="/pdfs/talks/LA_mlss.pdf">Linear Algebra for Machine Learning</a> at IIIT-H ML Summer School </li>
                <li>May 2019: <a href="/pdfs/papers/JIISc.pdf">Survey paper</a> accepted in Journal of Indian Institute of Science </li>
                <li>Sep 2018: Attending <a href="http://mlss.cc/" > Machine Learning Summer School 2018</a> in Madrid </li>
              </ul>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Projects</h2>
              <p>
                I'm interested in incorporating a causal structure to the computer vision tasks.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:32%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:82%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              [<strong><a href="{{post.paper}}">Publication</a></strong>]
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.report %}
              [<a href="{{post.report}}"><strong>Report</strong></a>]
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              [<a href="{{post.code}}"><strong>Code</strong></a>]
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Earlier Projects</h2>
              <p>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'earlier' %}
          <tr>
            <td style="padding:2.5%;width:32%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:82%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
<!--               <em>{{post.categories}} {{post.course}}</em>
              <br> -->
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              [<strong><a href="{{post.paper}}">Publication</a></strong>]              
              {% endif %}
              {% if post.report %}
              [<strong><a href="{{post.paper}}">Report</a></strong>]              
              {% endif %}
<!--               {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %} -->
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              [<strong><a href="{{post.slides}}">Slides</a></strong>]
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <p> I have a keen interest in <strong>community learning</strong>. While at IIIT-H, I actively took initiatives to share what I learn.  I totally believe in the following adage :
                <br>
                <br>
                <center><q>
                <p style="font-style: italic;">
                If you want to learn something, <br>
                      read about it. <br>
                If you want to understand something, <br>
                      write about it. <br>
                If you want to master something, <br>
                      teach it </q> <br>
                </p>
                </center>         
         </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'teaching' %}
          <tr>
            <td style="padding:2.5%;width:32%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:82%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
<!--               {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %} -->
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              [<strong><a href="{{post.slides}}">Slides</a></strong>]
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <div class="section">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:xx-small;">
                Thanks <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a> for source
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

